[user]
	email = krcdotbrk@gmail.com
	name = C. Burak KIRICI
[fetch]
	prune = true
[core]
	pager = bat -p
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/brk/.config/git/allowed_signers
[init]
	defaultBranch = master
