[user]
	email = krcdotbrk@gmail.com
	name = C. Burak Kirici
[fetch]
	prune = true
[core]
	pager = bat -p
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = master
