[user]
	email = 74684021+kirici@users.noreply.github.com
	name = kirici
	signingKey = /home/{{ .chezmoi.username }}/.ssh/id_ed25519
[fetch]
	prune = true
[core]
{{- if eq .chezmoi.os "linux" }}
{{-   if eq .chezmoi.osRelease.id "ubuntu" }}
	pager = batcat -p
{{   else if eq .chezmoi.osRelease.id "fedora" }}
	pager = bat -p
{{-   end }}
{{- end }}
	editor = micro
[gpg]
	format = ssh
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/{{ .chezmoi.username }}/.config/git/allowed_signers
[rerere]
	enabled = true
