[user]
{{ if eq .profile "work" }}
	name = {{ .name_work | quote }}
	email = {{ .email_work | quote }}
	signingKey = "~/.ssh/{{ .sshkey_work }}"
{{ else -}}
	name = {{ .name_private | quote }}
	email = {{ .email_private | quote }}
	signingKey = "~/.ssh/{{ .sshkey_private }}"
{{- end }}
[fetch]
	prune = true
[core]
	pager = bat -p
[gpg]
	format = ssh
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = "~/.config/git/allowed_signers"
[rerere]
	enabled = true
[diff]
  external = difft
