[user]
	email = 74684021+kirici@users.noreply.github.com
	name = kirici
	signingKey = /home/{{ .chezmoi.username }}/.ssh/id_ed25519
[fetch]
	prune = true
[core]
	pager = bat -p
[gpg]
	format = ssh
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/{{ .chezmoi.username }}/.config/git/allowed_signers
[rerere]
	enabled = true
[diff]
  external = difft
