[user]
name = {{ .name | quote }}
email = {{ .email | quote }}

[ui]
default-command = "status"
editor = "nvim +star"

[signing]
behavior = "own"
backend = "ssh"
key = "~/.ssh/{{ .sshkey }}.pub"

[aliases]
la = ["log", "-r", "all()"]
