{{ if lookPath "jj" -}}
[user]
{{ if eq .profile "work" -}}
name = {{ .name_work | quote }}
email = {{ .email_work | quote }}
{{ else -}}
name = {{ .name_private | quote }}
email = {{ .email_private | quote }}
{{- end }}
[ui]
default-command = "status"
editor = "nvim +star"

[signing]
behavior = "own"
backend = "ssh"
{{ if eq .profile "work" -}}
key = {{ .sshkey_work | quote }}
{{ else -}}
key = {{ .sshkey_private | quote }}
{{- end }}
[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
{{ end -}}
