{
{{- if eq .chezmoi.os "linux" }}
{{-   if eq .chezmoi.osRelease.id "ubuntu" }}
    "colorscheme": "geany",
{{-   else if eq .chezmoi.osRelease.id "fedora" }}
    "colorscheme": "material-tc",
{{-   end }}
{{- end }}
    "diffgutter": true,
    "hlsearch": true,
    "indentchar": "⡇",
    "lsp.ignoreTriggerCharacters": "completion,signature",
    "lsp.server": "python=pyls,go=gopls",
    "mkparents": true,
    "rmtrailingws": true,
    "scrollspeed": 4,
    "softwrap": true,
    "tabstospaces": true
}
